.git
.github
.tmp
.wrangler
**/.wrangler
.doya
.doya-dev
**/.doya-dev
.doya-hosted
.expo
**/.expo
artifacts
build
**/build
coverage
dist
**/dist
**/.debug
**/.generated
guide-project
node_modules
**/node_modules
npm-debug.log*
release
**/release
test-results
**/test-results
packages/desktop/release
packages/server/.doya-dev