.git
.github
.tmp
.wrangler
**/.wrangler
.doya
.doya-dev
.doya-hosted
.expo
**/.expo
artifacts
build
coverage
dist
**/dist
guide-project
node_modules
**/node_modules
npm-debug.log*
test-results
**/test-results
